$color-fill-neutral-low-0: #ffffff;
$color-fill-neutral-low-1: #f6f6f8;
$color-fill-neutral-low-2: #f0f0f2;
$color-fill-neutral-low-3: #e8e8eb;
$color-fill-neutral-low-4: #dcdce1;
$color-fill-neutral-low-5: #cfcfd5;

$color-fill-neutral-medium-0: #adadb3;
$color-fill-neutral-medium-1: #9d9da3;
$color-fill-neutral-medium-2: #75757b;
$color-fill-neutral-medium-3: #5d5d63;
$color-fill-neutral-medium-4: #46464a;
$color-fill-neutral-medium-5: #3a3a3d;

$color-fill-neutral-high-0: #28282b;
$color-fill-neutral-high-1: #232326;
$color-fill-neutral-high-2: #1e1e21;
$color-fill-neutral-high-3: #19181b;
$color-fill-neutral-high-4: #141316;
$color-fill-neutral-high-5: #0f0e10;

$color-fill-primary-0: #eef0fc;
$color-fill-primary-1: #d8defc;
$color-fill-primary-2: #a4b2f8;
$color-fill-primary-3: #374fc9;
$color-fill-primary-4: #293ea5;
$color-fill-primary-5: #1e2f83;

$color-fill-success-0: #f1fdf4;
$color-fill-success-1: #e9fcef;
$color-fill-success-2: #bef7d2;
$color-fill-success-3: #47c480;
$color-fill-success-4: #38a96d;
$color-fill-success-5: #2b8656;

$color-fill-danger-0: #fcf2f2;
$color-fill-danger-1: #fbdbdb;
$color-fill-danger-2: #f7afae;
$color-fill-danger-3: #d7494b;
$color-fill-danger-4: #af2f30;
$color-fill-danger-5: #902524;

$color-text-on-neutral-low-weak: #75757b;
$color-text-on-neutral-low-default: #46464a;
$color-text-on-neutral-low-strong: #232326;
$color-text-on-neutral-low-cta: #2934a5;
$color-text-on-neutral-low-cta-hover: #373dc9;
$color-text-on-neutral-low-success: #38a96d;
$color-text-on-neutral-low-success-hover: #47c480;
$color-text-on-neutral-low-danger: #af2f30;
$color-text-on-neutral-low-danger-hover: #f7afae;
$color-text-on-neutral-low-disabled: #9d9da3;

$color-text-on-neutral-high-weak: #adadb3;
$color-text-on-neutral-high-default: #e8e8eb;
$color-text-on-neutral-high-strong: #ffffff;
$color-text-on-neutral-high-cta: #a4b2f8;
$color-text-on-neutral-high-cta-hover: #d8defc;
$color-text-on-neutral-high-success: #bef7d2;
$color-text-on-neutral-high-success-hover: #e9fcef;
$color-text-on-neutral-high-danger: #f7afae;
$color-text-on-neutral-high-danger-hover: #fbdbdb;

$body-bg: #f2f7ff !default;
$body-color: #607080 !default;

$font-family-sans-serif: 'IBM Plex Sans', sans-serif !default;

$font-size-sm: 12px !default;
$font-size-base: 14px !default;
$font-size-lg: 16px !default;
$font-size-xl: 20px !default;
$font-size-2xl: 26px !default;

$font-weight-light: 200 !default;
$font-weight-normal: 400 !default;
$font-weight-semibold: 500 !default;
$font-weight-bold: 600 !default;

$line-height-base: 1.5 !default;
$line-height-lg: 1.75 !default;
$line-height-sm: 1.25 !default;

$nav-width-xs: 200px !default;
$nav-width-sm: 300px !default;
$nav-width-base: 450px !default;
$nav-width-lg: 600px !default;
